<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id="my-data" color="{{primary_color}}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='okwow.css')}}" type="text/css">

    <!-- PixiJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.1.3/pixi.min.js"></script>

    <!-- Scripts -->
    <script type="text/javascript" src="{{url_for('static', filename='theme.js')}}"></script>
    <script>console.log("{{primary_color}}")</script>
    <script type="module" src="{{url_for('static', filename='bg.js')}}"></script>
    
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source Code Pro:100,200,300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow: 100,200,300,400,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Flex: 100,200,300,400,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM Sans">

    <title>The Backyard</title>
    
</head>
<body style="--primary-color: var(--{{institution}})">
      <header>
        <!-- <script type="text/javascript" src="{{url_for('static', filename='bg-balls.js')}}"></script> -->
      </header>
      <canvas class="orb-canvas"></canvas>
    <!-- <div class="row h-100">
        <div class="col-6">
            <h1 class="display-1">THE</h1>
        </div>
        <div class="col-6">
            <h1 class="display-1">BACKYARD</h1>
            
        </div>
    </div> -->
    <section class="home">
      <div id="storeHeader"class="store-info d-flex justify-content-center">
        <div id="small-logo" class="reveal">
          <div class="revealleft">
          </div>
          <div class="revealright">
          </div>
        </div>
        <h2 style="font-weight:300">X</h2>
        <!-- <img src="{{institution.name}}" style="height:5vh;width:5vw;"> -->
        <h2 class="store-name" style="font-weight:400">{% set university = institution.name.split(' ')[0] %}{{ university | upper }}</h2>
      </div>

      <div class="row h-100 d-flex flex-nowrap" style="MIN-HEIGHT: 100VH; width:100%">
        <!-- Main title and logo -->
        <div class="col-2 d-flex justify-content-center align-items-center" id="mySidebar">
          <div class="sidebar d-flex flex-column my-3 align-items-center" width = "">
            <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> -->
            
            <div class="menu d-flex flex-column gap-1">

              <div class="sidebar-item">
                <span class="uil uil-apps"></span>
                <h4 class="">Apps</h4>
              </div>
              <!-- <div class="sidebar-item">
                <span class="uil uil-fire"></span>
                <h4 class="">Trending</h4>
              </div> -->
              <div class="sidebar-item">
                <span class="uil uil-arrow"></span>
                <h4 class="">Developers </h4>
              </div>
              <!-- <div class="sidebar-item">
                <span class="uil uil-arrow"></span>
                <h4 class="">Ideas</h4>
              </div> -->
              <div class="sidebar-item">
                <span class="uil uil-chat"></span>
                <h4 class="">Forum</h4>
              </div>
            </div>
            
          </div>
        </div>
        <div class="col-10 d-flex align-items-center" id="mainColumn">
          <div class="container" id="myContainer">

            <div class="apps" id="app-gallery">
              <!-- {% for app in apps%}
              <div class="card app" id={{app.name}}>
                <img src="app.image" alt={{app.name}}>
                <div class="app-info d-flex flex-column text-align-center">
                  <h5 class="title">{{app.name}}</h5>
                </div>
              </div>
              {% endfor %} -->
              <div class="card app">
                <img src="https://source.unsplash.com/random/600x600?summer" alt="">
                <div class="app-info d-flex flex-column text-align-center">
                  <h5 class="title">Summer</h5>
                </div>
              </div>
              <div class="card app">
                <img src="https://source.unsplash.com/random/600x600?plants" alt="">
                <div class="app-info d-flex flex-column text-align-center">
                  <h5 class="title">Plants</h5>
                </div>
              </div>
              <div class="card app">
                <img src="https://source.unsplash.com/random/600x600?sky" alt="">
                <div class="app-info d-flex flex-column text-align-center">
                  <h5 class="title">Sky</h5>
                </div>
              </div>
              <div class="card app">
                <img src="https://source.unsplash.com/random/600x600?nature" alt="">
                <div class="app-info d-flex flex-column text-align-center">
                  <h5 class="title">Nature</h5>
                </div>
              </div>
              <div class="card app">
                
                <img src="https://cdn.freebiesupply.com/images/large/2x/airbnb-logo.png" alt="">
                <div class="app-info d-flex flex-column text-align-center">
                  <h5 class="title">Airbnb</h5>
                  <p class="desc">blah blah blah blah blah</p>
                </div>
              </div>
              <div class="card app">
                <img src="https://source.unsplash.com/random/600x600?ice" alt="">
                <div class="app-info d-flex flex-column text-align-center">
                  <h5 class="title">Facebook</h5>
                  <p class="desc">Cultivating social anxiety since 2009</p>
                </div>
              </div>
              <!-- Scramble -->
              <div class="card app locked">
                <img src="/static/images/scramble-logo2.png" alt="">
                <div class="app-info d-flex flex-column text-align-center">
                  <h5 class="title">Scramble</h5>
                  <p class="desc">Shoot your shot, stress-free.</p>
                </div>
              </div>
            </div>
    

          </div>
        </div>
        <div class="box logo d-flex align-items-center justify-content-center">
          <div class="straight" style="transform:rotate(45deg)" onclick=openCloseNav()>

            <i class="uil uil-bars" style="color: var(--color-black); font-size: 28px; cursor: pointer;"></i>
          </div>
        </div>
        
      </div>
      
      <div class="footer row d-flex align-items-end" style="height:10%; position:absolute; bottom: 1vh; right: 1vw;">
        <div class="logo d-flex flex-row align-items-center justify-content-end gap-3">
          <a class="footer-links" id="aboutBtn" href="/about">ABOUT</a>
          <a class="footer-links" id="contactBtn" href="#">CONTACT</a>
          <!-- <h5 class="" style="font-weight:100">x</h5> -->
          <!-- <h5 class="institution" style="color:var(--primary-color)">{{institution | upper}}</h5> -->
        </div>
      </div>
      <script>
        $("#aboutBtn").click(function() {
          $('html,body').animate({
              scrollTop: $("#about-page").offset().top},
              'medium');
        });
        $("#contactBtn").click(function() {
          $('html,body').animate({
              scrollTop: $("#contact-us").offset().top},
              'fast');
        });
      </script>
      <script>

        function openCloseNav(){
          sidebar = document.getElementById("mySidebar");
          if (sidebar.childNodes[1].style.opacity == "" || sidebar.style.width >= "200px"){
            closeNav();
          }
          else{
            openNav();
          }
        }
        function openNav() {
          sidebar = document.getElementById("mySidebar");
          sidebar.style.width = "calc(max(20%, 200px))";
          sidebar.childNodes[1].style.opacity = "1";
          document.getElementById("mainColumn").style.width = "80%";
        }
        
        function closeNav() {
  
          sidebar = document.getElementById("mySidebar");
          sidebar.style.width = "0%";
          var nodes = sidebar.childNodes;
          nodes[1].style.opacity = "0";
          // document.getElementById("myContainer").style.width = "99%";
          document.getElementById("mainColumn").style.width = "99%";
        }
      </script>
    </section>


    
    
</body>
</html>